* { margin: 0; padding: 0; }

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

h1, h2, h3, h4, p, dl, ul { margin-bottom: 1em; }

h1 { font-size: 3em; }

h2 { font-size: 2em; }

h3 { font-size: 1.5em; }

h4 { font-size: 1em; }

li { margin-left: 3em; }

dt { font-weight: bold; }

dl { margin-left: 1em; }

a img { border: none; }

img { -ms-interpolation-mode: bicubic; }

img, video, audio { max-width: 100%; }

button { cursor: pointer; }

form, input, select, textarea, button { font: inherit; }

optgroup option { margin-left: 1em; }

textarea { overflow: auto; }

[hidden] { display: none; }

table { font-size: 1em; border-collapse: collapse; border-spacing: 0; table-layout: fixed; }
table td, table th { font-size: 1em; vertical-align: top; text-align: left; }

html { font-size: 12px; }

.form-field { display: block; margin-bottom: 1rem; clear: left; }
.form-field ul.checkbox { list-style: none; display: block; padding: 0; margin: 0; }
.form-field ul.checkbox li { list-style: none; display: block; padding: 0; margin: 0; }

.form-field-half { width: 50%%; float: left; clear: none; }

label, button, .button, input, select, textarea { font: inherit; color: inherit; padding: 0.5rem; }

label, input, select, textarea { display: block; width: 100%; }

input, select, textarea { color: #5a5a5a; background: white; border: 0.15rem solid #dedede; -webkit-border-radius: 0.25rem; -moz-border-radius: 0.25rem; -ms-border-radius: 0.25rem; -o-border-radius: 0.25rem; border-radius: 0.25rem; }
input[disabled], select[disabled], textarea[disabled] { color: #b4b4b4; background-color: #dedede; border-color: #dedede; }

input[type=radio], input[type=checkbox], input[type=file], input[type=submit] { display: inline-block; width: auto !important; padding: 0; margin: 0 0.5rem 0 0; }
input[type=radio], input[type=checkbox], input[type=file], input[type=submit], input[type=range] { background: none; border: none; }
input[type=range] { vertical-align: middle; }
input[type=hidden] { display: none; }

.button, button { display: inline-block; text-decoration: none; text-align: center; color: #5a5a5a; border: 0.0625rem solid rgba(0, 0, 0, 0.3); -webkit-border-radius: 0.5rem; -moz-border-radius: 0.5rem; -ms-border-radius: 0.5rem; -o-border-radius: 0.5rem; border-radius: 0.5rem; -webkit-box-shadow: 1px 0.125rem 0.125rem rgba(0, 0, 0, 0.1); -moz-box-shadow: 1px 0.125rem 0.125rem rgba(0, 0, 0, 0.1); box-shadow: 1px 0.125rem 0.125rem rgba(0, 0, 0, 0.1); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dedede), color-stop(100%, #b4b4b4)); background: -webkit-linear-gradient(top, #dedede, #b4b4b4); background: -moz-linear-gradient(top, #dedede, #b4b4b4); background: -o-linear-gradient(top, #dedede, #b4b4b4); background: linear-gradient(top, #dedede, #b4b4b4); }
.button:hover, button:hover { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #cecece)); background: -webkit-linear-gradient(top, #f8f8f8, #cecece); background: -moz-linear-gradient(top, #f8f8f8, #cecece); background: -o-linear-gradient(top, #f8f8f8, #cecece); background: linear-gradient(top, #f8f8f8, #cecece); }
.button:active, button:active { -webkit-box-shadow: inset 1px 0.25rem 0.25rem rgba(0, 0, 0, 0.2); -moz-box-shadow: inset 1px 0.25rem 0.25rem rgba(0, 0, 0, 0.2); box-shadow: inset 1px 0.25rem 0.25rem rgba(0, 0, 0, 0.2); }

input[type="radio"], input[type="checkbox"] { display: none; }
input[type="radio"] + span:before, input[type="checkbox"] + span:before { font-family: 'FontAwesome'; display: inline-block; width: 1.5rem; }

input[type="radio"] + span:before { content: "\f1db"; /* circle-blank */ }

input[type="radio"]:checked + span:before { content: "\f111"; /* circle */ }

input[type="checkbox"] + span:before { content: "\f096"; /* check-empty */ }

input[type="checkbox"]:checked + span:before { content: "\f046"; /* check */ }

.form-field-double input, .form-field-double select, .form-field-double textarea { width: 50%; display: inline-block; }

.no-styling { display: inline-block; width: auto; max-width: 100%; margin: 0; padding: 0; background: transparent; border: none; }

#container #banner header { display: inline-block; float: left; }
#container #banner h1 { font-size: 1em; display: inline-block; font-weight: normal; }
#container #banner .nav-meta { display: inline-block; float: right; }
#container #banner .nav-meta .nav { float: right; }
#container #banner .nav-meta .nav else { display: inline-block; }
#container #banner .nav-meta .nav li a span.icon-hide { display: none; }

@media screen { body { color: #5a5a5a; background: #dedede; padding: 0 1rem; font: 1.25rem "Roboto Slab", Garamond, serif; line-height: 1.5em; }
  del { color: #b4b4b4; }
  a { color: #116787; }
  a:hover { color: #178ab4; }
  ul li { margin-left: 1.5rem; }
  table { width: 100%; margin-bottom: 1em; color: inherit; background-color: transparent; }
  table thead { border-bottom: 0.125rem dotted; }
  table tfoot { border-top: 0.125rem dotted; color: #b4b4b4; }
  table td, table th { padding: 0.125em 0.25em; }
  table td.number, table th.number { text-align: right; font-family: "Courier New", monospace; }
  table td.deleted, table th.deleted { text-decoration: line-through; color: #dedede; }
  table td.deleted a, table th.deleted a { color: inherit; }
  table tbody tr:nth-child(odd) { color: inherit; background-color: white; }
  table tbody tr.focus { color: inherit; background-color: #ffbb33; }
  table tbody tr.focus:nth-child(odd) { color: inherit; background-color: #ffd480; }
  #container { position: relative; margin: 0 auto; }
  #banner, #footer { color: #5a5a5a; background: rgba(222, 222, 222, 0.9); height: 4rem; }
  #banner .inner, #footer .inner { padding: 1rem 1rem; margin: auto; }
  #banner { font: 1.5rem "Roboto", Tahoma, sans-serif; position: fixed; left: 0; width: 100%; top: 0; }
  #banner a { text-decoration: none; color: inherit; }
  #banner .header-nav { margin-left: -1.6rem; margin-right: 0.3rem; font-size: 2rem; vertical-align: -0.1rem; }
  #banner .header-icon { height: 3rem; margin: -0.5rem 1rem -0.5rem 0; vertical-align: -0.5rem; }
  #banner .nav { margin-bottom: 0; list-style: none; }
  #banner .nav-main { display: none; position: absolute; top: 4rem; left: 0; color: #5a5a5a; background-color: #dedede; font-size: 1.5rem; }
  #banner .nav-main li { margin: 0; }
  #banner .nav-main li a { display: block; padding: 1rem 1.5rem; }
  #banner .nav-main li a:hover { background-color: #5a5a5a; color: #dedede; }
  #banner .nav-meta .nav { float: right; }
  #banner .nav-meta .nav else { display: inline-block; }
  #banner .nav-meta .nav li { display: inline-block; margin-left: 0.25rem; }
  #banner .nav-meta .nav li a i { display: inline-block; text-align: center; width: 3rem; margin: -0.5rem 0; font-size: 1.25em; }
  #banner .nav-meta .nav li a span.icon-hide { display: none; }
  #footer { text-align: right; font-family: "Roboto", Tahoma, sans-serif; }
  #main section, #modal section { color: #5a5a5a; background: #f6f6f6; margin-bottom: 1rem; padding: 1.5rem; overflow: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 1px 0.5rem 0.5rem rgba(0, 0, 0, 0.1); -moz-box-shadow: 1px 0.5rem 0.5rem rgba(0, 0, 0, 0.1); box-shadow: 1px 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }
  #main section h3, #modal section h3 { font-size: 1.5rem; margin-bottom: 1rem; }
  #main section footer, #modal section footer { padding-top: 0.5rem; margin-top: 1rem; color: #b4b4b4; border-top: 0.125rem dotted; font: 1rem "Roboto", Tahoma, sans-serif; }
  #main { padding: 1rem 0; margin-top: 4rem; }
  #modal { position: absolute; width: 100%; height: 100%; top: 0; left: 0; height: 0; background: rgba(90, 90, 90, 0.9); z-index: 1; padding: 1rem; display: none; }
  #modal section { position: fixed; display: none; min-width: 80%; overflow: auto; max-height: 90%; }
  #messages { position: absolute; width: 100%; }
  #messages section { background-color: #ffd480; }
  #messages section ul { margin: 0; padding: 0; list-style: none; }
  #messages section ul li { margin: 0 0 0.5rem; }
  #messages section ul li.error { background-color: #ff9191; }
  .js-slide { max-height: 60rem; overflow-y: hidden; -webkit-transition: max-height 0.5s ease-in-out; -moz-transition: max-height 0.5s ease-in-out; -o-transition: max-height 0.5s ease-in-out; transition: max-height 0.5s ease-in-out; }
  .js-slide.js-hidden { max-height: 0; }
  html { font-size: 12px; }
  #main { zoom: 1; }
  #main:after { display: block; visibility: hidden; height: 0; clear: both; content: "."; }
  #main .block-container, #main .block-container-2, #main .block-container-3, #main .block-container-4 { zoom: 1; }
  #main .block-container:after, #main .block-container-2:after, #main .block-container-3:after, #main .block-container-4:after { display: block; visibility: hidden; height: 0; clear: both; content: "."; }
  #main .block-container section, #main .block-container-2 section, #main .block-container-3 section, #main .block-container-4 section { float: left; width: 100%; }
  #main .block-container-4 { margin: 0 -1%; }
  #main .block-container-4 section { width: 48%; margin-left: 1%; margin-right: 1%; }
  #main .block-container-4 section.double { width: 100%; margin-left: 0; margin-right: 0; } }
@media screen and (max-width: 479px) { .no-smartphone, .only-smartphone-landscape, .only-tablet, .only-screen-tablet-landscape, .only-desktop { display: none !important; } }
@media screen and (min-width: 480px) { html { font-size: 12px; }
  #main .block-container-3 { margin: 0 -1%; }
  #main .block-container-3 section { width: 48%; margin-left: 1%; margin-right: 1%; } }
@media screen and (min-width: 480px) and (max-width: 767px) { .only-smartphone, .no-smartphone-landscape, .only-tablet, .only-screen-tablet-landscape, .only-desktop { display: none !important; } }
@media screen and (min-width: 768px) { html { font-size: 16px; }
  #main .block-container-2 { margin: 0 -1%; }
  #main .block-container-2 section { width: 48%; margin-left: 1%; margin-right: 1%; }
  #main .block-container-2 section.double { width: 100%; margin-left: 0; margin-right: 0; }
  #main .block-container-4 section { width: 31.33333%; }
  #main .block-container-4 section.double { width: 64.66667%; margin-left: 1%; margin-right: 1%; } }
@media screen and (min-width: 768px) and (max-width: 1023px) { .only-smartphone, .only-smartphone-landscape, .no-tablet, .only-screen-tablet-landscape, .only-desktop { display: none !important; } }
@media screen and (min-width: 1024px) { html { font-size: 16px; }
  #main .block-container-3 section { width: 31.33333%; }
  #main .block-container-3 section.double { width: 64.66667%; }
  #main .block-container-4 section { width: 23%; }
  #main .block-container-4 section.double { width: 48%; } }
@media screen and (min-width: 1024px) and (max-width: 1279px) { .only-smartphone, .only-smartphone-landscape, .only-tablet, .no-screen-tablet-landscape, .only-desktop { display: none !important; } }
@media screen and (min-width: 1280px) { html { font-size: 16px; }
  .only-smartphone, .only-smartphone-landscape, .only-tablet, .only-screen-tablet-landscape, .no-desktop { display: none !important; } }
@media print { * { color: black !important; background: transparent !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  @page { margin: 0.5cm; }
  h1, h2, h3, h4 { page-break-after: avoid; }
  h1, h2, h3, h4, p, li, tr, img { page-break-inside: avoid; }
  thead { display: table-header-group; }
  img { max-width: 100% !important; }
  html { font-size: 10pt; }
  #banner .nav { display: none; }
  .no-print { display: none; } }
