* { margin: 0; padding: 0; }

ul { margin-left: 30px; }

html { font-size: 12px; }

form .form-field { display: block; margin-bottom: 12px; }
form label, form button, form input, form select, form textarea { font: inherit; display: block; width: 100%; }
form input[type=radio], form input[type=checkbox] { display: inline-block; }
form input[type=hidden] { display: none; }
form button { padding: 0 6px; }

@media screen { body { background: black; padding: 12px; font: 1.25rem "Roboto", Tahoma, sans-serif; line-height: 1.5em; color: white; }
  del { color: #c8c8c8; }
  a { color: blue; }
  a:hover { color: #3333ff; }
  #container { position: relative; margin: 0 auto; }
  #container #header, #container #footer { background: black; height: 48px; position: fixed; left: 0; width: 100%; }
  #container #header .inner, #container #footer .inner { padding: 6px 12px; margin: auto; }
  #container #header { font: 1.5rem "Roboto", Tahoma, sans-serif; overflow: hidden; top: 0; }
  #container #header .header-icon { height: 36px; vertical-align: -12px; margin-right: 12px; }
  #container #footer { text-align: right; bottom: 0; }
  #container #main { margin: 48px 0; }
  #container #main .block { background: #0a0a0a; margin-bottom: 12px; padding: 18px; -webkit-box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.1); -moz-box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.1); box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.1); }
  #container #main .block h4 { font-size: 1.5rem; margin-bottom: 12px; }
  #container { max-width: 336px; }
  #container #header .inner, #container #footer .inner { max-width: 312px; }
  .no-smartphone, .only-tablet, .only-screen-tablet-landscape, .only-desktop { display: none !important; } }
@media screen and (min-width: 600px) { #container { max-width: 576px; }
  #container #header .inner, #container #footer .inner { max-width: 552px; }
  .only-smartphone, .no-tablet, .only-screen-tablet-landscape, .only-desktop { display: none !important; } }
@media screen and (min-width: 962px) { #container { max-width: 938px; }
  #container #header .inner, #container #footer .inner { max-width: 914px; }
  .only-smartphone, .only-tablet, .no-screen-tablet-landscape, .only-desktop { display: none !important; } }
@media screen and (min-width: 1281px) { #container { max-width: 1257px; }
  #container #header .inner, #container #footer .inner { max-width: 1233px; }
  .only-smartphone, .only-tablet, .only-screen-tablet-landscape, .no-desktop { display: none !important; } }
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  @page { margin: 0.5cm; }
  h1, h2, h3, h4 { page-break-after: avoid; }
  h1, h2, h3, h4, p, li, tr, img { page-break-inside: avoid; }
  thead { display: table-header-group; }
  img { max-width: 100% !important; }
  .no-print { display: none; } }
