* { margin: 0; padding: 0; }

ul { margin-left: 30px; }

body { background: #e1e1e1; padding: 10px; font: 22px/1.5em "Roboto Slab", serif; color: #5a5a5a; }

del { color: #b4b4b4; }

#container { width: 460px; position: relative; margin: 0 auto; }
#container #header { padding: 10px; font: 120% "Roboto", sans-serif; top: 0; left: 0; background: #e1e1e1; width: 460px; }
#container #header .header-icon { height: 44px; vertical-align: -12px; margin-right: 10px; }
#container .block { background: whitesmoke; padding: 10px; padding: 20px; -webkit-box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1); box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1); }
#container .block h4 { font-size: 120%; margin-bottom: 10px; }
