@media print { * { color: black !important; background: transparent !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  @page { margin: 0.5cm; }
  h1, h2, h3, h4 { page-break-after: avoid; }
  h1, h2, h3, h4, p, li, tr, img { page-break-inside: avoid; }
  thead { display: table-header-group; }
  img { max-width: 100% !important; } }
* { margin: 0; padding: 0; }

section, header, footer, nav, main, article, aside, figure, dialog, video, audio, address, hgroup, menu, canvas, details { display: block; }

h1, h2, h3, h4, p, dl, ul { margin-bottom: 1em; }

h1 { font-size: 3em; }

h2 { font-size: 2em; }

h3 { font-size: 1.5em; }

h4 { font-size: 1em; }

li { margin-left: 3em; }

dt { font-weight: bold; }

dl { margin-left: 1em; }

a img { border: none; }

img, video, audio { max-width: 100%; }

button { cursor: pointer; }

form, input, button { font-size: 1em; }

table { font-size: 1em; border-collapse: collapse; border-spacing: 0; }
table td, table th { font-size: 1em; vertical-align: top; text-align: left; }

.display-block { display: block; width: 99%; }

.float-right, [align="right"] { float: right; margin: 0.25em 0 0.75em 1em; }

.float-left, [align="left"] { float: left; margin: 0.25em 1em 0.75em 0; }

.clear-both { clear: both; }

html { font-size: 12px; }

.form-field { display: block; margin-bottom: 1rem; }

label, button, input, select, textarea { font: inherit; color: inherit; display: block; padding: 0.5rem 2%; width: 96%; }

input, select, textarea { color: #5a5a5a; background: white; outline: 0.15rem solid #dedede; border: none; -webkit-border-radius: 0.15rem; -moz-border-radius: 0.15rem; -ms-border-radius: 0.15rem; -o-border-radius: 0.15rem; border-radius: 0.15rem; }

input[type=radio], input[type=checkbox] { display: inline-block; width: auto; padding: 0; margin: 0 0.5rem 0 0; }
input[type=radio], input[type=checkbox], input[type=range] { background: none; outline: none; }
input[type=hidden] { display: none; }

button, select { width: 100%; }

button { padding: 0 2%; }

.no-styling { display: inline-block; width: auto; margin: 0; padding: 0; background: transparent; border: none; outline: none; }

#container #header header { display: inline-block; }
#container #header h1 { font-size: 1em; display: inline-block; font-weight: normal; }
#container #header nav { display: inline-block; float: right; }
#container #header .nav { float: right; }
#container #header .nav else { display: inline-block; }
#container #header .nav li { display: inline-block; margin-left: 1rem; }
#container #header .nav li a { color: #5a5a5a; text-decoration: none; }
#container #header .nav li a span.icon-hide { display: none; }

@media screen { body { color: #5a5a5a; background: #dedede; padding: 1rem; font: 1.25rem "Roboto Slab", Garamond, serif; line-height: 1.5em; }
  del { color: #b4b4b4; }
  a { color: #116787; }
  a:hover { color: #178ab4; }
  #container { position: relative; margin: 0 auto; }
  #container #header, #container #footer { color: #5a5a5a; background: rgba(222, 222, 222, 0.9); height: 4rem; }
  #container #header .inner, #container #footer .inner { padding: 1rem 1rem; margin: auto; }
  #container #header { font: 1.5rem "Roboto", Tahoma, sans-serif; overflow: hidden; position: fixed; left: 0; width: 100%; top: 0; }
  #container #header .header-icon { height: 3rem; margin: -0.5rem 1rem -0.5rem 0; vertical-align: -0.5rem; }
  #container #footer { text-align: right; }
  #container #main { margin-top: 4rem; }
  #container #main .block { color: #5a5a5a; background: #f6f6f6; margin-bottom: 1rem; padding: 1.5rem; -webkit-box-shadow: 1px 0.5rem 0.5rem rgba(0, 0, 0, 0.1); -moz-box-shadow: 1px 0.5rem 0.5rem rgba(0, 0, 0, 0.1); box-shadow: 1px 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }
  #container #main .block h3 { font-size: 1.5rem; margin-bottom: 1rem; }
  html { font-size: 12px; }
  #container { max-width: 24.66667rem; }
  #container #header .inner, #container #footer .inner { max-width: 22.66667rem; }
  .no-smartphone, .only-tablet, .only-screen-tablet-landscape, .only-desktop { display: none !important; } }
@media screen and (min-width: 768px) { html { font-size: 12px; }
  #container { max-width: 62rem; }
  #container #header .inner, #container #footer .inner { max-width: 60rem; }
  #container #main { zoom: 1; }
  #container #main:after { display: block; visibility: hidden; height: 0; clear: both; content: "."; }
  #container #main .block-container, #container #main .block-container-3 { width: 48%; margin: 0 1%; float: left; }
  .only-smartphone, .no-tablet, .only-screen-tablet-landscape, .only-desktop { display: none !important; } }
@media screen and (min-width: 1024px) { html { font-size: 15px; }
  #container { max-width: 66.26667rem; }
  #container #header .inner, #container #footer .inner { max-width: 64.26667rem; }
  #container #main .block-container-3 { width: 31.3%; margin: 0 1%; float: left; }
  .only-smartphone, .only-tablet, .no-screen-tablet-landscape, .only-desktop { display: none !important; } }
@media screen and (min-width: 1280px) { html { font-size: 18px; }
  #container { max-width: 69.11111rem; }
  #container #header .inner, #container #footer .inner { max-width: 67.11111rem; }
  .only-smartphone, .only-tablet, .only-screen-tablet-landscape, .no-desktop { display: none !important; } }
@media print { html { font-size: 10pt; }
  .no-print { display: none; } }
