@import "reset";

html {
	font-size: $base-unit-absolute;
}

// Form
.form-field {
	display:block;
	margin-bottom: $base-unit;
}
label,
button,
input,
select,
textarea {
	font:inherit;
	color:inherit;
	display:block;
	padding: 0.5 * $base-unit 2%;
	width: 96%;
}
input,
select,
textarea {
	background: $background-color-form-input;
	border:none;
	outline: 2px solid $border-color-form-input;
	@include border-radius(2px);
}
input {
	&[type=radio],
	&[type=checkbox] {
		display:inline-block;
		width:auto;
		padding:0;
		margin: 0 0.5 * $base-unit 0 0;
	}
	&[type=radio],
	&[type=checkbox],
	&[type=range] {
		background:none;
		outline:none;
	}
	&[type=hidden] {
		display:none;
	}
}
button,
select {
	width:100%;
}
button {
	padding: 0 2%;
}
.no-styling {
	display:inline-block;
	width:auto;
	margin:0;
	padding:0;
	background:transparent;
	border:none;
	outline:none;
}