@import "reset";

html {
  font-size: $base-unit-absolute;
}

form {
  .form-field {
    display:block;
    margin-bottom: $base-unit;
  }
  label,
  button,
  input,
  select,
  textarea {
    font:inherit;
    display:block;
    padding: 0.5 * $base-unit;
  }
  input {
    &[type=radio],
    &[type=checkbox] {
      display:inline-block;
    }
    &[type=hidden] {
      display:none;
    }
  }
  button {
    padding: 0 $base-unit * 0.5;
  }
}