html {
	font-size: $base-unit-absolute;
}

// Form
.form-field {
	display:block;
	margin-bottom: $base-unit;
	clear: left;
	ul.checkbox {
		list-style:none;
		display:block;
		padding:0;
		margin:0;
		li {
			list-style:none;
			display:block;
			padding:0;
			margin:0;
		}
	}
}
.form-field-half {
	width:50%%;
	float:left;
	clear:none;
}
label,
button,
.button,
input,
select,
textarea {
	font:inherit;
	color:inherit;
	padding: 0.5 * $base-unit;
}
label,
input,
select,
textarea {
	display:block;
	width: 100%;
}
input,
select,
textarea {
	color: $color-form-input;
	background: $background-color-form-input;
	border: 0.15rem solid $border-color-form-input;
	@include border-radius(0.25rem);
	&[disabled] {
		color: $color-form-input-disabled;
		background-color: $background-color-form-input-disabled;
		border-color: $border-color-form-input-disabled;
	}
}
input {
	&[type=radio],
	&[type=checkbox],
	&[type=file],
	&[type=submit] {
		display:inline-block;
		width:auto !important;
		padding:0;
		margin: 0 0.5 * $base-unit 0 0;
	}
	&[type=radio],
	&[type=checkbox],
	&[type=file],
	&[type=submit],
	&[type=range] {
		background:none;
		border:none;
	}
	&[type=range] {
		vertical-align: middle;
	}
	&[type=hidden] {
		display:none;
	}
}
.button,
button {
	display:inline-block;
	text-decoration:none;
	text-align:center;
	color: $color-button;
	border:$base-unit / 16 solid rgba(0,0,0,0.3);
	@include border-radius($base-unit / 2);
	@include single-box-shadow(rgba(0,0,0,0.1), 1px, $base-unit / 8, $base-unit / 8);
	@if ($background-color-button == $background-color-button-2) {
		background: $background-color-button;
	}
	@else {
		@include background(linear-gradient(top, $background-color-button, $background-color-button-2));
	}

	&:hover {
		@if ($background-color-button == $background-color-button-2) {
			background: lighten($background-color-button, 10%);
		}
		@else {
			@include background(linear-gradient(top, lighten($background-color-button, 10%), lighten($background-color-button-2, 10%)));
		}
	}
	&:active {
		@include single-box-shadow(rgba(0,0,0,0.2), 1px, $base-unit / 4, $base-unit / 4, false, inset);
	}
}
.form-field-double {
	input,
	select,
	textarea {
		width: 50%;
		display:inline-block;
	}
}
.no-styling {
	display:inline-block;
	width:auto;
	max-width:100%;
	margin:0;
	padding:0;
	background:transparent;
	border:none;
}

#container {
	#banner {
		header {
			display:inline-block;
			float:left;
		}
		h1 {
			font-size : 1em;
			display:inline-block;
			font-weight:normal;
		}
		.nav-meta {
			display:inline-block;
			float:right;
			.nav {
				@if not $switch-use-navigation {
					display:none;
				}
				else {
					display:inline-block;
				}
				float:right;
				li {
					a {
						span.icon-hide {
							display:none;
						}
					}
				}
			}
		}
	}
}