// see http://developer.android.com/design/style/metrics-grids.html

$switch-use-fluid : false;
$switch-use-dark : false;
$switch-fixed-header : true;
$switch-fixed-footer : false;

$base-unit-px : 12px;
$base-unit: 1rem;

$width-screen-smartphone       : 320px;
$width-screen-tablet           : 768px;
$width-screen-tablet-landscape : 1024px;
$width-screen-desktop          : 1280px;

$font-size-micro : 0.85rem;
$font-size-small : 1rem;
$font-size-medium: 1.25rem;
$font-size-large : 1.5rem;

$font-family: 'Roboto Slab', Garamond, serif;
$font-family-header : 'Roboto', Tahoma, sans-serif;

// Basic colors
// See http://developer.android.com/design/style/color.html

$color-blue: #33b5e5;
$color-blue-dark: #0099CC;
$color-purple: #AA66CC;
$color-purple-dark: #9933CC;
$color-green: #99cc00;
$color-green-dark: #669900;
$color-yellow: #FFBB33;
$color-yellow-dark: #FF8800;
$color-red: #FF4444;
$color-red-dark: #CC0000;

// Color -> Function

$background-color : rgb(225,225,225);
$background-color-header : $background-color;
$background-color-content : rgb(245,245,245);

$color-font : rgb(90,90,90);
$color-font-light : rgb(180,180,180);
$color-highlight: $color-green;
$color-link: $color-green-dark;

// Dark theme

@if $switch-use-dark {
	$font-family: $font-family-header;

	$background-color : rgb(0,0,0);
	$background-color-header : $background-color;
	$background-color-content : rgb(10,10,10);

	$color-font : rgb(255,255,255);
	$color-font-light : rgb(200,200,200);
	$color-highlight: $color-blue;
	$color-link: $color-blue-dark;
}