$base-unit : 10px;
$background-color : rgb(225,225,225);
$background-color-content : rgb(245,245,245);
$color-font : rgb(90,90,90);
$color-font-light : rgb(180,180,180);

$font-family: 'Roboto Slab', serif;
$font-family-header : 'Roboto', sans-serif;

$width-container : 480px;