html {
	font-size: $base-unit-absolute-desktop;
}

#container {
	@if not $switch-use-fluid {
		max-width: toolshed-rem($width-screen-desktop, $base-unit-absolute-desktop, -2);
	}
}
#banner, #footer {
	.inner {
		@if not $switch-use-fluid {
			max-width: toolshed-rem($width-screen-desktop, $base-unit-absolute-desktop, -4);
		}
	}
}
#main {
	.block-container-2 {
		ul.col {
			@include column-count(3);
		}
	}

}