html {
	font-size: $base-unit-absolute-smartphone-landscape;
}

#container {
	@if not $switch-use-fluid {
		max-width: toolshed-rem($width-screen-smartphone-landscape, $base-unit-absolute-smartphone-landscape, -2);
	}
}
#banner, #footer {
	.inner {
		@if not $switch-use-fluid {
			max-width: toolshed-rem($width-screen-smartphone-landscape, $base-unit-absolute-smartphone-landscape, -4);
		}
	}
}
#main {
	.block-container,
	.block-container-1 {
		ul.col {
			@include column-count(2);
		}
	}
	.block-container-3 {
		margin: 0 -1%;
		section {
			width: (100%/2) - 2%;
			margin-left: 1%;
			margin-right: 1%;
		}
	}
}
