html {
  font-size: $base-unit-absolute-tablet;
}

#container {
	@if $switch-use-fluid == false {
		max-width: toolshed-rem($width-screen-tablet, $base-unit-absolute-tablet, -2);
	}
	#header, #footer {
		.inner {
			@if $switch-use-fluid == false {
				max-width: toolshed-rem($width-screen-tablet, $base-unit-absolute-tablet, -4);
			}
		}
	}
	#main {
		@include clearfix();
		.block-container {
			width:48%;
			margin:0 1%;
			float:left;
		}
	}
}


.only-smartphone,
.no-tablet,
.only-screen-tablet-landscape,
.only-desktop {
	display:none !important;
}