#container {
	@if $switch-use-fluid == false {
		max-width: $width-screen-tablet - (2 * $base-unit);
	}
	#header, #footer {
		.inner {
			@if $switch-use-fluid == false {
				max-width:$width-screen-tablet - (4 * $base-unit);
			}
		}
	}
}


.only-smartphone,
.no-tablet,
.only-screen-tablet-landscape,
.only-desktop {
	display:none !important;
}