body {
	background:$background-color;
	padding:$base-unit;
	font: $font-size-medium $font-family;
	line-height:1.5em;
	color: $color-font;
}
del {
	color: $color-font-light;
}
a {
	color: $color-link;
	&:hover {
		color: lighten($color-link, 10%);
	}
}

#container {
	position:relative;
	margin: 0 auto;

	#header, #footer {
		background: $background-color-header;
		height: 4 * $base-unit;
		.inner {
			padding:0.5 * $base-unit $base-unit;
			margin: auto;
		}
	}

	#header {
		font: $font-size-large $font-family-header;
		overflow:hidden;
		@if $switch-fixed-header {
			position:fixed;
			left: 0;
			width:100%;
			top: 0;
		}

		.header-icon {
			height: 3 * $base-unit;
			vertical-align: -$base-unit;
			margin-right: $base-unit;
		}
	}
	#footer {
		text-align:right;
		@if $switch-fixed-footer {
			position:fixed;
			left: 0;
			width:100%;
			bottom: 0;
		}
	}
	#main {
		@if $switch-fixed-header {
			margin-top:(4 * $base-unit);
		}
		@if $switch-fixed-footer {
			margin-bottom:(4 * $base-unit);
		}
		.block {
			background:$background-color-content;
			margin-bottom: $base-unit;
			padding: 1.5 * $base-unit;
			@include single-box-shadow(rgba(0,0,0,0.1), 1px, $base-unit / 2, $base-unit / 2);

			h4 {
				font-size:$font-size-large;
				margin-bottom:$base-unit;
			}

		}
	}
}