html {
  font-size: $base-unit-absolute-tablet-landscape;
}

#container {
	@if not $switch-use-fluid {
		max-width: toolshed-rem($width-screen-tablet-landscape, $base-unit-absolute-tablet-landscape, -2);
	}
	#header, #footer {
		.inner {
			@if not $switch-use-fluid {
				max-width: toolshed-rem($width-screen-tablet-landscape, $base-unit-absolute-tablet-landscape, -4);
			}
		}
	}
	#main {
		.block-container-4 {
			margin: 0 -1%;
			section {
				width: (100%/4) - 2%;
				margin-left: 1%;
				margin-right: 1%;
			}
		}
	}
}

.only-smartphone,
.only-tablet,
.no-screen-tablet-landscape,
.only-desktop {
 	display:none !important;
}