html {
  font-size: $base-unit-absolute-desktop;
}

#container {
	@if $switch-use-fluid == false {
		max-width: toolshed-rem($width-screen-desktop, $base-unit-absolute-desktop, -2);
	}
	#header, #footer {
		.inner {
			@if $switch-use-fluid == false {
				max-width: toolshed-rem($width-screen-desktop, $base-unit-absolute-desktop, -4);
			}
		}
	}
}


.only-smartphone,
.only-tablet,
.only-screen-tablet-landscape,
.no-desktop {
	display:none !important;
}