#container {
	@if $switch-use-fluid == false {
		max-width: $width-screen-tablet-landscape - (2 * $base-unit);
	}
	#header, #footer {
		.inner {
			@if $switch-use-fluid == false {
				max-width:$width-screen-tablet-landscape - (4 * $base-unit);
			}
		}
	}
}

.only-smartphone,
.only-tablet,
.no-screen-tablet-landscape,
.only-desktop {
 	display:none !important;
}