@import "compass/css3/box-shadow";
@import "base";
@import "reset";
@import "forms";

body {
	background:$background-color;
	padding:$base-unit;
	font: 22px/1.5em $font-family;
	color: $color-font;
}
del {
	color: $color-font-light;
}
a {
	color: $color-link;
	&:hover {
		color: lighten($color-link, 10%);
	}
}

#container {
	width:$width-container - (2 * $base-unit);
	position:relative;
	//padding-top:(5 * $base-unit);
	margin: 0 auto;

	#header {
		padding:$base-unit;
		font: 120% $font-family-header;
		//position:fixed;
		top: 0;
		left: 0;
		background: $background-color;
		width:$width-container - (2 * $base-unit);

		.header-icon {
			height:44px;
			vertical-align:-12px;
			margin-right:$base-unit;
		}
	}

	.block {
		background:$background-color-content;
		padding:$base-unit;
		padding:2*$base-unit;
		@include single-box-shadow(rgba(0,0,0,0.1), 1px, $base-unit / 2, $base-unit / 2);

		h4 {
			font-size:120%;
			margin-bottom:$base-unit;
		}
	}
}